@mixin button-styling {
  width: 110px;
  height: 35px;
  background-color: $button-background-color;
  border-radius: 4px;
  border: none;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  margin: 30px 0;
}
@mixin color-word($word-width, $word-height, $word-color) {
  content: "";
  display: block;
  background: $word-color;
  opacity: 0.8;
  width: $word-width;
  height: $word-height;
  position: absolute;
  z-index: map-get($z-index, "minus");
}

@mixin link-header-styling {
  color: #fff;
  font-size: 16px;
}
@mixin link-section-styling {
  color: #afb3c0;
  font-size: 12px;
}

.landing-logo {
  display: flex;
  flex-direction: row;
}

body {
  background: $this-body-bg-color;
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  color: $body-font-color;
}

.header {
  background: $header-backgroud center no-repeat;
  background-size: cover;
  width: 100%;
  height: 550px;
  border-radius: 0 0 600px/170px 0;

  .header-wrap {
    margin-left: 115px;
    position: relative;
    z-index: map-get($z-index, "plus");

    .header_heading {
      font-size: 55px;
      font-weight: 700;
      line-height: 1;
      margin: 30px 0 20px;
      width: 50%;
    }
    .header_heading::before {
      @include color-word(
        $word-width: 230px,
        $word-height: 40px,
        $word-color: $word-color-bg
      );
      top: 156px;
    }
    .header_text {
      font-size: 13px;
      white-space: pre-line;
      font-family: "Hind", sans-serif;
    }

    .landing-logo {
      @extend .landing-logo;
      padding-top: 15px;

      img {
        width: 40px;
        height: 40px;
      }
      p {
        font-size: 20px;
        font-weight: 600;
        margin: 0 0 0 15px;
      }
      span {
        display: block;
        text-align: center;
        font-size: 8px;
      }
    }
    button {
      @include button-styling;
    }
    a {
      @include link-header-styling;
      margin-left: 95px;
    }
  }
}

.section {
  color: $body-font-color;
  position: relative;
  z-index: map-get($z-index, "plus");

  .section_text {
    color: $section-text-color;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .section_text::before {
    @include color-word(
      $word-width: 131px,
      $word-height: 32px,
      $word-color: $word-color-bg
    );
    top: 0;
    left: 640px;
  }

  .section_card_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;

    .section_card {
      display: flex;
      background: $section-card-bg;
      max-width: 700px;
      height: 200px;
      margin-top: 20px;
      border-radius: 5px;
      padding: 10px;

      img {
        border-radius: 5px;
      }
      .section_card_right_container {
        padding: 0 60px;

        .section_card_heading {
          text-align: center;
          font-size: 19px;
          font-weight: 600;
          color: #fff;
        }
        .section_card_text {
          color: #afb3c0;
          text-align: justify;
          font-size: 12px;
          word-spacing: 1px;
        }
        .section_link {
          @include link-section-styling;
          display: block;
          text-align: center;
          margin-top: 35px;
        }
      }
    }
  }

  .section_banner {
    background: $section-banner-bg;
    width: 64%;
    position: relative;
    z-index: map-get($z-index, "plus");
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    margin: 0 auto;
    top: 48px;

    .section_banner_heading {
      font-size: 25px;
      font-weight: 700;
      margin-top: 20px;
      margin-bottom: 15px;
    }
    .section_banner_heading::before {
      @include color-word(
        $word-width: 55px,
        $word-height: 30px,
        $word-color: $word-color-bg
      );
      top: 18px;
      left: 190px;
    }
    .section_banner_text {
      word-spacing: 1px;
      color: #bec0bb;
      font-size: 14px;
      margin-top: 0;
      margin-bottom: 25px;
    }
    .section_banner_button {
      @include button-styling;
    }
  }
}

.footer {
  background: $footer-bg;
  color: #bec0bb;

  .footer-wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 70px 0 40px;

    .footer_logo {
      @extend .landing-logo;

      img {
        width: 40px;
        height: 40px;
      }

      p {
        font-weight: 600;
        font-size: 20px;
        margin-left: 15px;
        margin-top: 0;
      }
      span {
        display: block;
        font-size: 8px;
        text-align: center;
      }
    }
  }
  .footer_text {
    max-width: 19%;
    margin: 0;
    font-size: 11px;
    word-spacing: 1px;
  }
  .footer-cr {
    font-size: 14px;
  }
}
