$this-body-bg-color: #fff;
$body-font-color: #2d323f;
$header-backgroud: url("../img/m-h-day.jpg");
$button-background-color: #699a00;
$section-card-bg: #1c1e2a;
$section-banner-bg: linear-gradient(to right, #5f9117, #2a5bd1);
$footer-bg: #1c1e2a;
$word-color-bg: #14a0c7;
$section-text-color: #2d323f;
