$this-body-bg-color: #1c1e2a;
$body-font-color: #fff;
$header-backgroud: url("../img/m-h-night.jpg");
$button-background-color: #e4ae00;
$section-card-bg: #383d4f;
$section-banner-bg: linear-gradient(to right, #dda206, #97334d);
$footer-bg: #383d4f;
$word-color-bg: #ff4d30;
$section-text-color: #fff;
